@font-face {
  font-family: publico;
  src: url("publico.otf") format("opentype");
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:url("back.PNG") repeat-x #fafafa;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
}


.inline {  display:inline-block; float: left; }
.block { display:block;}
.clearfix {  overflow: auto; }

.container {
  width:1140px;
  margin:0 auto;
  height:100%;
  padding: 0 15px;
}

.gutter {
  padding-left: 30px!important;
  padding-right: 30px!important;

}

.header {
  height:70px;
  width:100%;
}

.tabs {
  height:57px;
  width:100%;
}

.main {
  width:730px;
}

.sidebar {
  width:350px;
  padding: 0 0 20px;
  margin-left:30px;
}

.gridOverlay {
  width:1200px;
  height: calc(100% - 30px);
  position:absolute;
  background: url("xlGrid.png");
  opacity: 0.1;
  top: 0;
  left: 50%;
  margin-left: -600px;
  display:none;
}

button {
position:absolute;
z-index:999;
bottom:5px;
left:calc(100% - 100px);
}



/* Large Layout for portrait mode tablets and window sizes up to 1200px wide */

@media only screen and (max-width: 1199px) {

.container {
  width:960px;
}

.main {
  width:610px;
}

.sidebar {
  width:290px;
}

.gridOverlay {
width:992px;
background: url("lGrid.png");
margin-left: -496px;
}



}

/* Medium Layout for tablets and window sizes up to 992px wide */

@media only screen and (max-width: 991px) {

.container {
  width:720px;
}

.main {
  width:630px;
  margin:0 auto;
}

.inline {
  display:block;
  float:none;
}


.sidebar {
display:none;
}

.gridOverlay {
width:768px;
background: url("mGrid.png");
margin-left: -384px;
}

}

/* Small Layout for mobiles and window sizes up to 768px wide */

@media only screen and (max-width: 767px) {

body {
background-position-y: -10px;
}

.container {
  width:100%;
  max-width:720px;
}

.main {
  width:100%;
  margin:0 auto;
}

.sidebar {
display:none;
}

.header {
height:60px;
}


.gutter {
 border-width:15px;
}

.gridOverlay {
display:none!important;
}


}







p#windowSize {
  display: block;
  position: absolute;
  padding: 5px 10px;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color:#fff;
  bottom: 0;
}