*:focus {outline: none;}

body {

background-color: #fafafa;
color:#333;
font-family: 'Source Sans Pro', sans-serif;
margin: 0;	

}

header {

background: #fff;
height: 70px;
line-height: 70px;
text-align: right;

}

footer {

background:#3b3fd8;
color:#fff;
padding-top:30px;

}

.legal {

background:#3032c1;
border-top: 1px solid #595bcd;
padding: 20px 32px;

}

.legal p {

color:#fff;
font-size:13px;
line-height:16px;
opacity:0.65;
display:  block;
margin: 0 auto;
text-align: right;
width: 1100px;

}

.full {

width:1110px;
padding:0 15px;
margin: 0 auto;
overflow:auto;

}

.sticky {

position: fixed;
top: 0;
width: 100%;
z-index:999;

}

.sticky + .wrapper {
  padding-top: 50px;
}

a {
	text-decoration:none;
}

.back {
	color:#00008f;
	font-size:14px;
	font-weight:600;
	padding-right:30px;
	text-transform:uppercase;
}

.back img {
	margin-right:15px;
	margin-bottom: -4px;
}


header.breadcrumb {
	background-color:#fff;
	border:solid 1px #ccc;
	color:#ccc;
	font-size:13px;
	font-weight:bold;
	height:50px;
	letter-spacing: 0.02em;
	line-height: 50px;
	text-align:center;
	
}
.left.step {
	border-left:0;
}

.step {
	border-left:solid 1px #cccccc;
	display:inline-block;
	float:left;
	width:24%;
}

.step.current {
    color: #027180;
}

.step.complete {
    color: #00008f;
}

.number, .info {
	border: 1px solid #ccc;
	border-radius:50%;
	display:inline-block;
	font-family: 'Source Sans Pro', sans-serif;
	height:20px;
	line-height: 20px;
	margin-right:5%;
	text-align: center;
	width:20px;
}


h1 .info {
	background-color: #fff;
	border-color: #fff;
	color: #2f29c4;
	margin-right: 20px;
}




h4 .info {
	background-color: #2f29c4;
	border-color: #2f29c4;
	color: #fff;
	float: right;
	font-size: 12px;
	height: 14px;
	line-height: 14px;
	margin-right: 10px;
	width: 14px;
}



.step.current .number {
	background-color: #027180;
	border-color: #027180;
	color:#fff;
}

.step.complete .number {
	border-color: #00008f;
}


.progress {
	background-color:#d7d7d7;
	display:inline-block;
	height:5px;
	width:100%;
}

.progress .current {
	background-color: #f0705b;
	display: block;
	height: 100%;
}

.wrapper {
	margin: 30px auto;
	text-align:center;
}

h1 {
	background-color:#fff;
	border-bottom:solid 1px #ccc;
	font-family: Georgia, serif;
	font-size: 28px;
	letter-spacing: 0.02em;
	margin: 0;
	padding: 22px 44px;
	text-align: left;
}

h1 sup {
	display:block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
}

h1 sub {
	display:block;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:14px;
	font-weight:400;
}

h2 {

font-family: Georgia, serif;
font-size: 22px;
letter-spacing: 0.02em;

}

.button {
	background-color:#f07662;
	border:2px solid #f07662;
	color:#fff;
	padding:15px 30px;
	display:inine-block;

}

.button:hover {
	background-color:#ec4d33;
	border:2px solid #ec4d33;

}

.button.ghost {
	background-color:#fafafa;
	color:#f07662;
}


.button.ghost:hover {
	background-color:#ec4d33;
	color:#fff;
}

input, textarea, select, .ui-selectmenu-button.ui-button {

border: 1px solid #ccc;
color: #333;
font-family: 'Source Sans Pro', sans-serif;
font-size:16px;
padding:10px 20px;

}

input:focus, textarea:focus, select:focus, .ui-selectmenu-button.ui-button:focus {
    color: #00008f;
    border-color: #00008f;
    outline:none;
}


.ui-selectmenu-button.ui-button, #tags  {

margin:0;
width:auto;

}


input#datepicker {

min-height:45px;
width: 150px;

}

input:valid, textarea:valid, select:valid {

background: #fff url(../images/valid.png) no-repeat right 10px center;
background-size: 20px;
border-color: #00008f;

}

input:focus, textarea:focus {
	
	color:#00008f;

}

.main {
	display:inline-block;
	float:left;
	width:722px;
}

select {

background: red;
border: 1px solid green;
}

.sidebar {
	background-color:none;
	display:inline-block;
	min-height:10%;
	width:32%;
}

.sidebar h1 {

background-color: #2f29c4;
border-bottom-color:#2f29c4;
color:#fff;
font-size:20px;
padding: 20px;
position:relative;
z-index: 1;

}


.sidebar .section.help:after {
	right: 100%;
	top: 65px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(2, 113, 128, 0);
	border-right-color:#2f29c4;
	border-width: 10px;
	margin-top: -10px;
}

.sidebar .section {	
	padding: 10px 20px;
	position:relative;
	text-align:left;
}

.sidebar .section.help {
	background-color:#fff;
	border-color: #2f29c4;	
}

.sidebar .section.help h4 {
	margin-bottom:5px;
	margin-top:5px;

}

.sidebar .section.help p {
margin-top:5px;
}



.section {
border:1px solid #ccc;
box-shadow: 0 1px 9px 0 #cccccc;
margin-bottom: 20px;
}

.questions {
	padding: 0 44px 20px;
	text-align:left;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	background: #f5f5f5;
	border: 1px solid #ccc;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	letter-spacing:0.02em;
	margin: 0 0.54%;
	padding: 10px 30px;
	text-align: center;
	text-transform:uppercase;
	vertical-align:top;
	width:14%;
}

input[type="radio"] + label:hover {
	background-color:#2f29c4;
	border-color: #00008f;
	color: #fff;
}

input[type="radio"]:checked+label, input[type="radio"]:checked+label.sienna, input[type="radio"]:checked+label.sienna:hover {
	background: #fff url(../images/valid.png) no-repeat right 10px top 10px;
	background-size: 20px;
	border-color: #00008f;
	color: #333;
}

input[type="radio"] + label img {
	margin: 10px 0 5px 0;
}

input[type="radio"] + label.icon {
	min-height: 111px;
	padding-bottom:18px;
}

input[type="radio"] + label.two {
	font-size:13px;
	margin-bottom: 2%;
	min-height: 130px;
	width: 21.3%;
}

input[type="radio"] + label.options {
	width: auto;
	margin-bottom: 10px;
}

input[type="radio"]:checked + label.options {
	padding-right: 50px;
}

input[type="radio"] + label sub {
	display:none;
	font-size:12px;
	font-weight: 400;
	line-height:1.4;
	padding-top:20px;
	text-transform: initial;
}

input[type="radio"] + label.sienna {
	background-color:#f07662;
	border-color:#f07662;
	border-bottom:2px solid #ec4d33;
	color:#fff;
}

input[type="radio"] + label.sienna:hover {
	background-color:#ec4d33;
	border-color:#ec4d33;
}

input[type="radio"] + label.azure {
	background-color:#3032c1;
	border-color:#3032c1;
	color:#fff;
}

input[type="radio"] + label.azure:hover {
	background-color:#00005b;
	border-color:#00005b;
}

input[type="radio"]:checked+label.azure {
	background-color:#2425aa;
	border-color:#2425aa;
}


.hidden {
	display:none;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.62);
}

.modal-content {
    position: relative;
    background-color: #fafafa;
    margin: auto;
    padding: 0;
    border: 1px solid #ccc;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: #2425aa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #fff;
    border-bottom: 1px solid #CCC;
}
.modal-header h1{
    border-bottom: none;
    font-size:42px;
    letter-spacing:-0.01em;
    margin-top:10px;
}

.modal-body {padding: 2px 60px;}

.modal-body h2{
    font-size:48px;
    margin: 20px 0;
    color:#ec4d33;
}

.modal-footer {
    padding: 16px;
}

table {
	border-collapse:collapse;
	margin:20px 0;
	text-align:left;
}

th, td{
	border:1px solid #ccc;
	padding: 10px 20px;
}

.tvop th {
 background-color:#348d99;
 color:#fff;
 border-color: #fff;
}

.top th.blank {
 background-color:#fafafa;
    border: none;
width: 112px;
}


.grey {
background-color:#f5f5f5;
color:#999;
}


.ui-datepicker {

font-family:'Source Sans Pro', sans-serif;
padding:0px;
width: 20em;

}

.ui-widget-content .ui-state-default {

border: none;
background:none;
color: #00008f;
font-weight:bold;
text-align:center;
height: 26px;
line-height: 26px;
width: 26px;

}


.ui-state-default:hover {

background-color:#494df4;
border-radius:50%;
color:#fff;

}

.ui-widget-header {

border: none;
background: #00008F;
color: #FFF;
Text-transform:Uppercase;
}

.ui-corner-all {

border-radius:0;

}

.ui-datepicker-next, .ui-datepicker-next:hover {

background:url(../images/right-arrow.png) left no-repeat;
cursor:pointer;

}

.ui-datepicker-prev, .ui-datepicker-prev:hover {

background:url(../images/left-arrow.png) right no-repeat;
cursor:pointer;

}

.ui-icon-circle-triangle-w, .ui-icon-circle-triangle-e {
display:none!important;
}

.ui-widget-header .ui-state-hover {
	border: none;
	background-color: transparent;

}

.ui-widget.ui-widget-content {
    border: 1px solid #ccc;
    border-bottom:4px solid #ccc;
}
.ui-menu .ui-menu-item-wrapper {
  height: 40px;
  line-height:40px;
  letter-spacing:0.2px;
  padding-left:20px;
  color: #999999;
  font-size:14px;
  text-transform: Capitalize;
}


.ui-state-active, .ui-widget-content .ui-state-active,  .ui-widget.ui-selectmenu-button-closed:active {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color:#00008f;
}

.ui-widget.ui-selectmenu-button-closed:active {
  border-color:#00008f;
  color:#00008f;
}

.ui-selectmenu-button.ui-button {
background-color:#fff;
border-color:#ccc;

}

.ui-icon-triangle-1-s {
    background-position: -65px 0px;
}


h4.label {

	margin-right: 10px;
	line-height:0;
}


.inline {
	display:inline-block;
	margin-right:50px;
vertical-align:top;
}





table.driverdetails {

width: 620px;
    margin-top: -20px;
    margin-bottom: 30px;

}

.driverdetails tr {
    width: 600px;
    border-bottom: 1px solid #e5e5e5;
    border-top:none;
    display: block;
    margin-left:10px;
}


.driverdetails th, .driverdetails td {

border:none;

}

.driverdetails h5 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  margin:0;
}


td.data label {
    text-align: right;
    position: relative;
    left: 510px;
    top: -10px;
  cursor: hand;
}


td.data {

color:#333;
line-height:1.5;

}

input[type="button"] {
  width: 630px;
  height: 50px;
  background-color: #f07662;
  border: 1px solid #f07662;
  border-bottom:2px solid #ec4d33;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  text-transform:uppercase; 
  display: block;
  margin:20px auto;
  cursor: hand;
}


input[type="button"]:disabled {
	background-color:whitesmoke;
	border-color:#ccc;
	color:#999;
        cursor: unset;
}

.ui-corner-top {

border-radius:0;

}

.ui-datepicker-calendar .ui-state-active {
    border-radius: 50%;
}


i {
    border: solid #00008f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
    top: -3px;
    position: relative;
}

i.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

i.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.vehicle {
    background-image: url(../images/carwide.png);
    background-size: contain;
    display: inline-block;
    height: 335px;
    vertical-align: top;
    width: 618px;
}

.damagelist {

display: inline-block;

margin-left: 60px;
width: 260px;

}

.damagelist label {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    border-radius: 5px;
    background-color: #3032c1;
    color: #fff;
    cursor: hand;
    width:auto;
    margin-bottom:5px;
}

.damagelist label:hover {
    background-color: #00008f;
}

.damagelist label .close {
    left: 15px;
    color: #fff;
    font-size: inherit;
    position: relative;
}

.damagedareas {

background-color: rgba(250, 250, 250, 0.5);
height:100%;
    width: 618px;
overflow:hidden;

}

.damage {
    width: 49%;
    height: 33%;
    display: inline-block;
    position: relative;
    border-radius:10px 20px 20px 10px;
}

.damage:hover {

    background: rgba(240, 112, 91, 0.3);
}

.damage.wide {
    width: 100%;
    height: 33%;
    display: inline-block;
}
.damage.tall {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.damage label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: calc(50% - 14px);
  position: absolute;
  top: calc(50% - 14px);
  width: 28px;
}

.damage label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.damage label:hover {
    box-shadow: 0px 0px 0px 7px #dadada;
}

.damage input[type="checkbox"] {
  visibility: hidden;
}

.damage input[type="checkbox"]:checked + label {
    background-color: #4a4cf6;
    border-color: #4a4cf6;
    box-shadow: 0px 0px 0px 7px #dadada;
}

.damage input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.damage input[type="checkbox"]:checked:after {
    border-radius:10px 20px 20px 10px;
  background: rgba(240, 112, 91, 0.3);
  content: "";
  height: -webkit-fill-available;
  visibility:visible;
  position: absolute;
  width: -webkit-fill-available;
  left: 0px;
  top: 0px;
}




.carrear, .carmiddle, .carfront {
    position: relative;
    display:  inline-block;
    width:  180px;
    height: 335px;
    vertical-align:  top;
}
.carfront {
    width: 158px;
}
.carmiddle {width: 220px}
.carfront.bumper {
    width: 50px;
}




  .ui-tooltip, .ui-tooltip .arrow:after {
    background: #3032c1;
    box-shadow:none;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 0px;
    font-size:12px ;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:0.02px;
    border:none!important;
  }
  .ui-tooltip .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .ui-tooltip .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .ui-tooltip .arrow.left {
    left: 20%;
  }
  .ui-tooltip .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ui-tooltip .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

