*:focus {
outline:none;
}

.error {
  background-color:#3b3fd8;
  color:#fff;
  min-height:calc(100% - 85px);
}

.redirect-error-message-box, .redirect-error-summary-box {
  text-align:center;
}

.inner {
  padding:80px 0;
}

h2 {
  font-family:"publico", georgia;
  font-size:52px;
  margin-bottom: 26px;
}

p {
  font-size:18px;
  letter-spacing:0.1px;
  margin-top:26px;
}

button {
  background-color: transparent;
  border:2px solid #fff;
  color:#fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1px;
  overflow:hidden;
  padding: 14px 20px;
  text-transform:uppercase;
}

button span {
   z-index: 99;
}

button:hover {
  color:#00008f;
  cursor:pointer;
}

button::before {
  background: #fff;
  content:"";
  display: block;
  height: 560px;
  left:50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0) rotate(45deg);
  transition: all 0.3s;
  width: 0;
}

button:hover::before {
    width: 100%;
}

/* Medium Layout for tablets and window sizes up to 992px wide */

@media only screen and (max-width: 991px) {

.inner {
  padding:40px 0;
}
h2 {
  font-size:48px;
}

}

/* Small Layout for mobiles and window sizes up to 768px wide */

@media only screen and (max-width: 767px) {

h2 {
  font-size:40px;
}

p {
  font-size:14px;
}

}